.safemeet-partnership {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  img {
    width: 120px;
    height: 80px;
    @media screen and (max-width: 1024px) {
      width: 80px;
      height: 60px;
    }
  }
}

// .title-partnership{
//     font-size: 36px;
//     @media screen and (max-width:556px){
//         font-size: 25px;
//     }
//     @media screen and (max-width:460px){
//     font-size: 20px;
//     }
// }

.want-partner {
  @media screen and (max-width: 556px) {
    font-size: 12px;
  }
  @media screen and (max-width: 460px) {
    font-size: 10px;
  }
}
