@import "../../utilities/variables.scss";

.safemeet-mob-navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $white;
    width: 100%;
    z-index: 100;
    display: none;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0,  0.3);

    @media screen and (max-width:1024px) {
        display: block;
    }

    &-row {
        padding: 5px 0;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &-col-1 {
            flex: 1;
            display: flex;
            img{
                width: 80px;
            }
        }
        &-col-2{
            flex: 1;
            .hamburger-react{
                margin-left: auto;
            }
        }

    }
}


.safemeet-mob-navbar-items{
    position: fixed;
    top: 83px;
    width: 100%;
    height: 100vh;
    left: 0;
    text-align: right;
    z-index: 50;
    background-color: $white;
    overflow: scroll;
    .h3{
        font-weight: 400;
        font-size: 1.6rem;
        text-align:center;
        padding: 22px 0;
        border-bottom: 1px solid $grey;
        cursor: pointer;
        @media screen and (max-width:556px){
            text-align:left;
        }
    }
    .h3-btn{
        margin-top: auto;
        font-weight: 400;
        font-size: 2rem;
        text-align:center;
        padding: 10px 0;
        cursor: pointer;
        @media screen and (max-width:556px){
            text-align:left;
        }
    }
}

ul{
    list-style: none;
    text-align:center;
    @media screen and (max-width:556px){
        text-align:left;
    }
    li{
        padding: 10px 0;
    }
}

.mob-navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $grey;
    @media screen and (max-width:556px){
        justify-content: space-between;
    }
    h3{
        font-weight: 400;
        font-size: 1.6rem;
        padding: 22px 0;
        cursor: pointer;
    }
    img{
        width: 30px;
    }   
}