$blue: #7600bc;
// $blue: linear-gradient(109.84deg, #4c00b0 -0.83%, #7600bc 100.96%);
$white: #ffffff;
$black: #000000;
$footer-bg-color: #484747;
$grey: rgba(0, 0, 0, 0.5);
$demo-bg-color: #c4c4c430;
$footer-heading-color: #7f7e7e;
$footer-input-bg: rgba(196, 196, 196, 0.5);
$navbar-bg-color: rgb(233, 233, 233);
$navbar-border-color: rgba(255, 255, 255, 0.18);
$life-cycle-bg: #c4c4c430;
$bg-error-page: #7600bc;
$error-span-color: #c50d15;
// $ourClient-bg: linear-gradient(109.84deg, #0048c0 -0.83%, #5f9afb 100.96%);
$ourClient-bg: linear-gradient(109.84deg, #4c00b0 -0.83%, #7600bc 100.96%);
$do-even-more-card-title-color: #404040;
$do-even-more-card-sub-title-color: #333333;
$do-even-more-card-bg-color: #f0f0f0;

$video-calling-bg-color: #f9f9f9;
$top-strip: yellow;
