@import "../../utilities/variables.scss";
.videoBox iframe {
  border: solid 5px #000;
  border-radius: 8px;
}
.homeLogo {
  margin-bottom: 40px;
  display: inline-flex;
  grid-gap: 30px;
  flex-wrap: wrap;
  a {
    max-width: 164px;
    padding: 0 15px;
    height: 100px;
    border-radius: 8px;
    border: solid 1px #f4f4f4;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 164px;
    img {
      width: 100%;
    }
    @media screen and (max-width: 768px) {
      max-width: 45%;
      flex: 1 0 auto;
    }
  }
}
.safemeet-showcase {
  //   padding: 3.5rem 0px;
  padding: 50px 20px;
  color: $white;
  background: url("../../../assests/demo-images/bg-beautify.svg"), $ourClient-bg;
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: 768px) {
    padding: 30px 0 !important;
  }

  h1 {
    font-weight: 400;
    font-size: 30px;

    @media screen and (max-width: 768px) {
      font-size: 24px;
    }
  }
  h2 {
    font-size: 18px;
    font-weight: normal;
  }
  .heading-margin {
    margin-bottom: 2rem;
  }
  .slick-slider {
    width: 100%;
    margin-bottom: 15px;
    .slick-slide {
      width: 166px;
      height: 100px;
      display: flex;
      align-items: center;
      padding: 15px;
      border-radius: 8px;
      background: #fff;
      margin-right: 24px;
    }
    .slick-slide img {
      width: 100%;
    }
    .slick-dots {
      bottom: -40px !important;

      li {
        button:before {
          content: "";
          border-radius: 50%;
          width: 10px;
          height: 10px;
          background: #fff;
        }
      }
    }
  }
  .safemeet-clients {
    margin-top: 36px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    @media screen and (max-width: 1024px) {
      height: auto;
    }

    @media screen and (max-width: 768px) {
      margin-top: 30px !important;
    }
  }
  &-video-section {
    margin-top: 70px !important;
  }
  &-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 48px;

    &-col-1 {
      flex: 1;
      text-align: center;

      @media screen and (max-width: 1024px) {
        flex: 100%;
      }

      img {
        @media screen and (max-width: 556px) {
          width: 270px;
          padding: 0;
          align-self: flex-start;
          text-align: left;
        }
      }
    }

    &-col-2 {
      margin: 0 0 0 20px !important;
      flex: 1;
      align-self: normal;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: nowrap;

      @media screen and (max-width: 1024px) {
        margin: 0 !important;
        flex: 100%;
        text-align: center;
        align-items: center;
      }
      p {
        @media screen and (max-width: 1024px) {
          display: none;
        }
      }
      h2 {
        font-size: 20px;
        font-weight: 400;

        @media screen and (max-width: 1024px) {
          margin-top: 30px !important;
        }
        @media screen and (max-width: 768px) {
          font-size: 22px;
        }
        @media screen and (max-width: 556px) {
          font-size: 18px;
        }
        @media screen and (max-width: 460px) {
          font-size: 16px;
        }
        @media screen and (max-width: 345px) {
          font-size: 14px !important;
        }
      }

      h1 {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 40px;

        @media screen and (max-width: 1200px) {
          font-size: 44px;
        }
        @media screen and (max-width: 1024px) {
          margin-top: 30px !important;
          font-size: 38px;
        }
        @media screen and (max-width: 556px) {
          margin-top: 10px !important;
          font-size: 30px;
        }
        @media screen and (max-width: 460px) {
          font-size: 24px;
        }
      }
    }
  }
}

.iframe {
  border-radius: 20px;
  width: 560px;
  height: 315px;
}

.showcase-head {
  font-size: 50px;
  margin: 0 0 20px 0;
}

.showcase-subhead {
  font-size: 24px;
}

@media screen and (max-width: 1200px) {
  .showcase-head {
    font-size: 80px;
  }
  .showcase-subhead {
    font-size: 16px;
  }
}
