.slick-slider-main{
    display: grid;
    grid-template-columns: repeat(3, minmax(100%, 1fr) );
    overflow: auto;
    grid-gap: 20px;
    .slick-slide {padding: 0 15px;}
    .stepBox{display: flex;}
    &::-webkit-scrollbar {
        display: none;
      }
}
.safemeet-text-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .border-bottom{
            display: none;
            @media screen  and (max-width:1024px) {
                display: block;
        height: 0.40px;
        border: 1px solid grey;
        margin-top: 10px;
        width: 100%;
        position: relative;
        top: -40px;
            }
    }
    &-col-1{
        flex: 1;
        align-self: normal;
        display: flex;
        flex-direction:column;
        align-items: flex-start;
        justify-content: center;
        @media screen and (max-width:1024px){
            flex: 100%;
            text-align: center;
        }
        .title-head{
            width: 100%;
            align-self: center;
            @media screen and (max-width:1024px){
                margin-bottom: 20px !important;
            }
            h1{
                font-size: 40px;
                font-weight: 700;
                @media screen and (max-width:556px){
                    font-size: 22px;
                    line-height: 70px;
                }
                @media screen and (max-width:460px){
                    font-size: 22px; 
                }
            }
            .title{
                font-weight: 700 !important;
                color: $grey;
                @media screen and (max-width:1024px){
                    font-size: 50px;
                }
                @media screen and (max-width:768px){
                    font-size: 45px;
                }
                @media screen and (max-width:556px){
                    font-size: 42px;

                }
            }
        }

        p{  
            font-size: 16px;
            line-height: 22px;
            margin: 15px 0;
            @media screen and (max-width:1024px){
                margin-bottom: 20px !important;
            }
        }

        .btn{
            
            @media screen and (max-width:1024px){
                margin:0 0 50px 0;
                align-self: center;
            }
        }
    }

    &-col-2{
        flex: 1;
        text-align: right;
        @media screen and (max-width:1024px){
        text-align:center;
        }
        img,video{
            box-shadow: 2px 2px 4px 1px rgba(0, 0, 0,  0.3);
            width: 250px;
            border-radius:20px;
            // height: 634px;
            @media screen and (max-width:1024px){
                width: 225px;
            }
            @media screen and (max-width:768px){
                width: 200px;
            }
            @media screen and (max-width:556px){
                width: 180px;
            }
            @media screen and (max-width:460px){
                width: 160px;
            }
        }
    }
}

.img-txt-col-1{
    text-align: left;
    @media screen and (max-width:1024px){
        order: 2;
        text-align: center;
    }
}

.img-txt-col-2{
    @media screen and (max-width:1024px){
        order: 1;
    }
}