.saleassist-sumup-features{
    margin-top: 130px !important;
    h2{
        font-size: 36px;
        letter-spacing: 2px;
    }
    &-flex{
        min-height: calc(88vh - (80px + 42px + 42px));
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        @media screen  and (max-width:1024px){
            margin-top: 50px;
        }
        &-col-1{
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            &-inner-flex{
                width: 100%;
                &-flex{
                    margin-bottom: 50px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .image-container{
                        flex: 0.5;
                        text-align: center;
                    }
                    .text-container{
                        flex: 1;
                    }
                    img{
                        vertical-align: middle;
                        @media screen and (max-width:556px) {
                            width: 50px;
                            height: 50px;
                        }
                    }
                    h4{
                        flex: 1;
                        font-size: 18px;
                        font-weight: 500;
                        white-space: nowrap;
                        @media screen and (max-width:556px) {
                        font-size:16px;  
                        }
                    }
                }
            }
            
        }
        &-col-2{
            img{
                @media screen and (max-width:556px) {
                    width: 100%;
                    height: 100%;
                }
            }
        }

    }
}
.safemeet-sumup-hr{
    height: 6px;
    background-color: #00000020;
    border-radius: 10px;
    border: none;
}

.safemeet-img-to-text{
    margin-top: 66px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 200px;
    
    @media screen and (max-width:1024px){
        gap:  10px;
    }
    &-col-1{
        align-self: flex-start;
        flex: 1;
        
        @media screen and (max-width:1024px) {
            flex: 100%;
            margin-top: 50px;
        }
        img{
            vertical-align: middle;
            margin-right: 20px;
        }
        svg{
            vertical-align: bottom;
            margin-right: 10px;
        }
        span{
            font-size: 20px;
        }
        h3{
            font-style: italic;
            font-size: 20px;
            margin-bottom: 15px !important;
        }
        p{
            opacity: 0.8;
        }
        .details{
            font-size: 16px;
            opacity: 0.7;
        }
        .links{
            font-size: 20px;
            color: #4285F4;
            svg{
                margin-left: 10px;
                vertical-align: middle;
            }
        }
    }
    &-col-2{
        flex: 1;
        @media screen and (max-width:1024px) {
            flex: 100%;
            text-align: center;
        }
        img{
                width: 100%;
                height: 100%;
            @media screen and (max-width:556px) {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.safemeet-text-to-img{
    margin-top: 66px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    gap: 200px;
    &-col-2{
        flex: 1;
        @media screen and (max-width:1024px) {
            flex: 100%;
            margin-top: 50px;
        }
        img{
            vertical-align: middle;
            margin-right: 20px;
        }
        svg{
            vertical-align: bottom;
            margin-right: 10px;
        }
        span{
            font-size: 20px;
        }
        p{
            opacity: 0.8;
        }
        h3{
            font-style: italic;
            font-size: 20px;
            margin-bottom: 15px !important;
        }
        .details{
            font-size: 16px;
            opacity: 0.7;
        }
        .links{
            font-size: 20px;
            color: #4285F4;
            svg{
                margin-left: 10px;
                vertical-align: middle;
            }
        }
    }
    &-col-1{
        flex: 1;
        @media screen and (max-width:1024px) {
            flex: 100%;
            text-align: center;
        }
        img{
            width: 100%;
                height: 100%;
            @media screen and (max-width:556px) {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.safemeet-blocks{
    margin-bottom: 36px;
}

.safemeet-points-features{
    margin-bottom: 8px;
    svg{
        opacity: 0.7;
    }
}