.safemeet-human-touch{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.06);
    padding: 50px 0;
    border-radius: 16px;
    h1{
        font-weight: 700;
        margin-bottom: 15px;
    }
}

