.whyPartner{
    background: url('../../../assests/Partnership/whyBg.jpg') no-repeat;
    background-size: cover;
    border-radius: 8px;
    overflow: hidden;
    padding: 30px;
    .whyHeading{font-size: 32px;text-align: center;}
    ul{display: flex;grid-gap: 40px;padding-top: 30px;
        @media screen and (max-width:768px){
            flex-direction: column;
        }
    }
    ul li{display: flex;flex-direction: column;}
    ul li figure{height: 150px;text-align: center;}
    ul li figure img{max-width: 100%;}
    ul li h3{font-size: 18px;color: #000;font-style: italic;margin-bottom: 10px;text-align: center;}
    ul li p{font-size: 14px;text-align: center;}
    @media screen and (max-width:768px){
        background: #f6b5e5;
    }
}
.highGrow{background: #6AFDEF;padding: 30px;border-radius:8px;overflow: hidden;margin-top:70px;
    .HightHeading{font-size: 32px;text-align: center;}
    ul{display: flex;flex-wrap: wrap;justify-content: center;padding-top: 30px;}
    ul li{width: 23%;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width:680px){
            width: 50%;
        }
    }
    ul li img{max-width: 100%;}
}
.safemeet-partner {
    margin-top: 180px !important;
    @media screen and (max-width:1024px){
        margin-top: 70px !important;
    }

    h1 {
        font-size: 44px;
        margin-bottom: 30px !important;
    }

    p {
        font-size: 18px;
        // letter-spacing: 2px;
        margin-bottom: 30px !important;
    }

    h6 {
        margin: 30px 0 !important;
        font-size: 12px;
        font-weight: 400;
    }

    .safemeet-blackbox {
        background-color: $black;
        color: $white;
        padding: 50px 100px;
        @media screen and (max-width:1200px){
            padding: 50px 70px;
        }
        @media screen and (max-width:1024px){
            padding: 50px 70px;
            text-align: center;
        }
        @media screen and (max-width:556px){
            padding: 20px  10px;
        }
        h3 {
            letter-spacing: 1px;
        }
    }
}

.safemeet-input-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0 !important;

    &-col-1,
    &-col-2 {
        flex: 1;
        @media screen and (max-width:556px){
            flex: 100%;
        }

        input {
            width: 400px;
            height: 50px;
            padding: 10px;
            background: transparent;
            border: 2px solid white;
            border-radius: 8px;
            color: $white;
            @media screen and (max-width:556px){
                width: 100%;
            }
            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $white;
                opacity: 1; /* Firefox */
              }
            &:focus {
                outline: none;
            }
        }

        .btn{
            background-color: $white !important;
            width: 400px;
            border: none;
            color: $black !important;
            height: 50px;
            font-size: 16px;
            border-radius: 8px;
            @media screen and (max-width:556px){
                width: 100%;
            }
        }
    }
}
.input-group{
    grid-gap: 0 !important;
    .form-control{
        height: 50px;
        width: 80px;
        padding: 10px;
        font-size: 16px;
        color:#A1A1A1;        ;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 1px solid rgba(129, 129, 129, 0.25);
        border-radius: 8px 0 0 8px;
        background: transparent;
        border-right: 0;
    }
    input{border-radius: 0 8px 8px 0 !important;}
}

.safemeet-input-flex{
    &-col-1,
    &-col-2{
        input{border-left: 0;}
    }
}
.safemeet-quote {
    background-color: #FBEAE9;
    padding: 50px 100px;
    h1 {
        color: #333333;
    }
}

.safemeet-partner-program {
    margin: 50px auto !important;

    h1 {
        text-align: center;
    }
}

.safemeet-card-container-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    &-col-1,
    &-col-2 {
        flex: 1;
    }
}

.part-card {
    padding: 20px;
    flex: 1;
    @media screen and (max-width:1024px){
        flex: 100%;

    }

    @media screen and (max-width:556px){
        padding: 5px;
    }
    h5 {
        color: $blue;
        margin: 10px 0 !important;
        font-size: 18px;
        letter-spacing: 1px;
    }

    p {
        font-size: 14px;
    }
}
.leftLine{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.leftLine::before{content: '';height: 144px;width: 1px;background: #000;position: absolute;left: -40px;
    @media screen and (max-width:768px) {
        display: none;
    }
}
.faq{margin-bottom: 50px;}
.safemeet-ready-to-join{
    background: #C4C4C450 url('../../../assests/Partnership/bg.jpg') no-repeat;
    background-size:cover;
    margin: 120px auto 70px !important;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px 0 50px;
    gap: 20px;

    @media screen and (max-width:460px){
        padding: 30px 10px !important;
        margin: 85px auto 70px !important;
    }
    
    .fullImg{width: 100%;text-align: center;padding-bottom: 40px;}
    .fullImg img{max-width: 100%;}
    &-col-1{
        flex:1;
        @media screen and  (max-width:1024px) {
            flex: 100%;
        }
        text-align: center;
        img{
            width: 150px;
            @media screen and (max-width:460px){
                width: 100px;
            }
        }
    }
    
    &-col-2{
        width: 50%;
        
        @media screen and  (max-width:1024px) {
            flex: 100%;
            
        }
        h1{
            font-size: 32px;
            @media screen and (max-width:768px){
                text-align: center;
            }
        }
        p{
            font-size: 14px;
            line-height: clamp(1rem,2vw,1.5rem);
            margin: 30px 0 !important;
            @media screen and (max-width:768px){
                text-align: center;
            }
        }
        a{display: flex;
            text-decoration: none;
            @media screen and (max-width:768px){
                justify-content: center;
            }
        }
        button{
            background-color: $black !important;
            width: 220px;
        }
    }
}
.ourpartnerLogo.partner{padding-top: 40px;}
.ourpartnerLogo.partner ul{padding-bottom: 0px;}
